---
layout: default
title: Brian Z. O'Toole
bodyclass: home
description: Brian O'Toole is a director of web development living in Tampa, Florida. He helps brands build recognition using the latest in web development strategy.
---

<section class="hero text-white text-center">
  <div class="container hero-text">
    <h1 class="hero-title">Simplicity &amp; clarity. Great design has both.</h1>
  </div><!--/.container-->
  <div class="container sm">
    <p class="hero-tagline">My name is Brian O'Toole and I am a director of web development living in Tampa, Florida. I help brands build recognition using the latest in web development and creative strategy.</p>
  </div><!--/.container.sm-->
</section><!--/.hero-->

<section class="recent-projects pad bg-white">
  <div class="container">
    <div class="row">
      <div class="grid-full pad-0">
        <h2 class="section-title">Featured Projects</h2>
      </div><!--/.grid-->
    </div><!--/.row-->
    
    {% assign featuredProjects = site.projects | where:"featured-top", true %}
    {% for project in featuredProjects %}
    <div class="row split">
      <div class="grid-half pad-0">
        <div class="project-img hidden-sm">
	      <img class="one" src="{{site.baseurl}}/assets/{{project.img}}">
	      <div class="after"><a href="{{ project.url }}"><span class="view">View Project<span class="lnr lnr-exit-up"></span> </span></a></div>
        </div><!--/.project-img-->
      </div><!--/.grid-->
      <div class="grid-half">
        <div class="split-wrap">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-meta">{{ project.content | strip_html | truncatewords: 20 }}</p>
          <a class="btn primary" href="{{ project.url }}">View Project</a>
        </div><!--/.split-wrap-->
      </div><!--/.grid-->
    </div><!--/.row-->
    {% endfor %}
    
    {% assign featuredProjects = site.projects | where:"featured-bottom", true %}
    {% for project in featuredProjects %}
    <div class="row split">    
      <div class="grid-half">
        <div class="split-wrap">
          <h3 class="project-title">{{ project.title }}</h3>
          <p class="project-meta">{{ project.content | strip_html | truncatewords: 20 }}</p>
          <a class="btn primary" href="{{ project.url }}">View Project</a>
        </div><!--/.split-wrap-->
      </div><!--/.grid-->
      <div class="grid-half pad-0">
        <div class="project-img hidden-sm">
	      <img class="two" src="{{site.baseurl}}/assets/{{project.img}}">
	      <div class="after"><a href="{{ project.url }}"><span class="view">View Project<span class="lnr lnr-exit-up"></span> </span></a></div>
        </div><!--/.project-img-->
      </div><!--/.grid-->
    </div><!--/.row-->
    {% endfor %}
    
    <a class="btn-arrow" href="{{site.baseurl}}/projects">More Projects</a>

  </div><!--/.container-->
</section><!--/.intro-->

<section class="recent-posts pad bg-accent">
  <div class="container">
  <h2 class="section-title">Latest News</h2>
  {% include posts-list-limit.html %}
  </div><!--/.container-->
</section><!--/.recent-posts-->

<section class="contact pad bg-white">
  <div class="container">
  <h2 class="section-title">Let's talk</h2>
  
  <div class="row">
    <div class="grid-fourth">
      <p>Need help on a project? Want to talk about an idea? Whatever it is, let's create something together. Shoot me a message and I'll get back to you asap.</p>
    </div><!--/.grid-->
    <div class="grid-three-fourths">
      {% include form.html %}
    </div><!--/.grid-->
  </div><!--/.row-->
  </div><!--/.container-->
</section><!--/.recent-posts-->
