---
layout: page
title: Recent Projects
bodyclass: projects bg-gray
---
{% assign project_items = site.projects | sort: 'date' | reverse %}
{% for project in project_items %}
  {% assign loopindex = forloop.index | modulo: 2  %}
  {% if loopindex == 1 %}


<div class="row split bg-white">
  <div class="grid-half pad-0">
    <div class="project-img one"></div>
  </div><!--/.grid-->
  <div class="grid-half">
    <div class="split-wrap">
      <h3 class="project-title">{{ project.title }}</h3>
      <p class="project-meta">{{ project.content | strip_html | truncatewords: 20 }}</p>
      <a class="btn primary" href="{{ project.url }}">View Project</a>
    </div><!--/.split-wrap-->
  </div><!--/.grid-->
</div><!--/.row-->

  {% else %}

<div class="row split bg-white">    
  <div class="grid-half">
    <div class="split-wrap">
      <h3 class="project-title">{{ project.title }}</h3>
      <p class="project-meta">{{ project.content | strip_html | truncatewords: 20 }}</p>
      <a class="btn primary" href="{{ project.url }}">View Project</a>
    </div><!--/.split-wrap-->
  </div><!--/.grid-->
  <div class="grid-half pad-0">
    <div class="project-img two"></div>
  </div><!--/.grid-->
</div><!--/.row-->
  {% endif %}
{% endfor %}
