<div class="footer bg-gray">
  <div class="container">
    <div class="footer-copyright">
       <span>&copy; 2017 Brian Z. O'Toole</span>
       <div class="float-right">
       <a href="{{ site.baseurl }}/assets/images/BrianOToole_Resume.pdf" target="_blank">Download Resume</a>
	     <a href="https://twitter.com/brianotoole" target="_blank">Follow me on Twitter</a>
	     <a href="https://www.quora.com/profile/Brian-OToole" target="_blank">Follow me on Quora</a>
       </div><!--/.float-right-->
     </div><!--/.footer-copyright-->
  </div><!--/.container-->
</div><!--/.footer-->