<form id="js-form">

    <div class="row">
      <div class="grid-half">
        <input type="text" name="name" class="name" placeholder="Name*">
      </div><!--/.grid-->
      <div class="grid-half">
        <input type="email" name="email" class="email" placeholder="Email*">
      </div><!--/.grid-->
    </div><!--/.row-->
    
    <div class="row">
      <div class="grid-half">
         <input type="text" name="company" class="company" placeholder="Company">
      </div><!--/.grid-->
      <div class="grid-half">
        <input type="tel" name="phone" class="phone" placeholder="Phone*">
      </div><!--/.grid-->
    </div><!--/.row-->
    
    <div class="row">
      <div class="grid-full">
         <textarea type="textarea" rows="4" name="message" class="message TextInput_text_36B1t" placeholder="Your message"></textarea>
      </div><!--/.grid-->
    </div><!--/.row-->
    
    <div class="row">
      <div class="grid-full">
         <input type="submit" class="btn primary submit" value="Submit">
      </div><!--/.grid-->
    </div><!--/.row-->
      
</form><!--/form--->

<div class="form-message" id="js-form-message">
  <div class="row">
    <div class="grid-full">
      <div class="form-success" id="js-form-message-success">
        <h3 class="form-title">Thanks for your message!</h3>
        <p class="form-text">I will be in touch shortly.</p>
      </div><!--/.form-success-->
    </div><!--/.grid-->
  </div><!--/.row-->
</div><!--/.form-message-->
