<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="icon" type="image/png" href="/assets/favicon.png" sizes="32x32">
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>
  <meta name="theme-color" content="#1abc9c">
  <meta name="description" content="{% if page.description %}{{ page.description | strip_html | truncatewords: 160 | escape }}{% else %}{{ page.content | strip_html | truncatewords: 160 | escape }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description | strip_html | truncatewords: 200 | escape }}{% else %}{{ page.content | strip_html | truncatewords: 160 | escape }}{% endif %}" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="{% if page.description %}{{ page.description | strip_html | truncatewords: 200 | escape }}{% else %}{{ page.content | strip_html | truncatewords: 160 | escape }}{% endif %}" />
  <meta name="twitter:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}" />
  {% css main %}
  <script>
  //typekit
  (function(d) {
    var config = {
      kitId: 'onl4arz',
      scriptTimeout: 3000,
      async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
  </script>
  <link rel="shortcut icon" href="#!">
</head>
