<header class="header">
  <div class="menu-wrapper">
    <ul class="menu-list">
      <li>
        <a href="http://howmuchtomakeanapp.com">How Much To Make An App?
        <p>Easily calculate the cost of a mobile application using this handy
        tool.</p></a>
      </li>
      <li>
        <a href="http://howmuchdoesawebsiteco.st">How Much Does A Website Cost?
        <p>Easily calculate the cost of a website using this handy
        tool.</p></a>
      </li>
      <li>
        <a href="http://appvswebsite.com">App vs Website?
        <p>Which is right for my project?</p></a>
      </li>
      <li>
        <a href="http://howmuchtomakealogo.com">How Much To Make A Logo?
        <p>Easily calculate the cost of a logo using this handy tool.</p></a>
      </li>
    </ul><!--/.menu-list-->
  </div><!--/.menu-wrapper-->
  
   <i class="i-menu">
     <a>
       <i><span>Menu</span></i>
     </a>
   </i><!--/.i-menu-->
</header>