<header class="header">
  <div class="container">
    <div class="logo">
     <span class="h5"><a href="{{site.produrl}}">Brian Z. O'Toole</a></span>
    </div><!--/.logo-->
    
    <i class="i-menu">
     <a>
       <i><span>Menu</span></i>
     </a>
    </i><!--/.i-menu-->
    <div class="menu-wrapper">
      <ul class="menu-list">
        <li><a href="{{site.produrl}}">Home</a></li>
        <li><a href="{{site.baseurl}}/about">About Me</a></li>
        <li><a href="{{site.baseurl}}/projects">Recent Projects</a></li>
        <li><a href="{{site.baseurl}}/news">Latest News</a></li>
        <li><a href="{{site.baseurl}}/contact">Contact Me</a></li>
    </ul><!--/.menu-list-->
  </div><!--/.menu-wrapper-->
   
 </div><!--/.container-->
</header>