<div class="posts">
{% for post in site.posts %}
<div class="row post-item">

  <!-- Date -->
  <div class="grid-one-third pad-right-0">
     <div class="post-meta">
       <span class="post-time h5">{{ post.date | date_to_string }}</span>
       <span class="post-cat h6">{{ post.category }}</span>
     </div><!--/.post-date-->
  </div><!--/.grid-->
  
  <!-- Feat. icon -->
  <div class="grid-one-third pad-left-0">
    <!--<div class="post-image">
     <img alt="{{post.title}}" src="{{site.baseurl}}/assets/{{post.img}}">-->
    <div class="post-icon">
      <span class="lnr {{post.icon}}"></span>
    </div><!--/.post-icon-->
  </div><!--/.grid-->
  
   <!-- Post meta -->
  <div class="grid-two-thirds">
	<div class="post-meta">
	  <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
      <p>{{ post.content | strip_html | truncatewords: 35 }}</p>
      <a class="btn primary visible-sm" href="{{ project.url }}">View Article</a>
	</div><!--/.post-meta-->
  </div><!--/.grid-->
  
</div><!--/.row-->
{% endfor %}
</div><!--/.posts-->
