<div class="posts">
{% for post in site.posts %}
<div class="row">

  <!-- Date -->
  <div class="grid-one-third">
     <div class="post-date">
       {{ post.date | date_to_string }}
       {{ post.category }}
     </div><!--/.post-date-->
  </div><!--/.grid-->
  
  <!-- Feat. img -->
  <div class="grid-one-third">
	<img width="170" height="170" alt="Marcin Treder" src="https://www.uxpin.com/images/homepage/webinars/photo-marcin-treder.jpg">
  </div>
  
   <!-- Post meta -->
  <div class="grid-two-thirds">
	<h1 class="post-title">
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h1>
  </div>
  
</div><!--/.row-->
{% endfor %}
</div><!--/.posts-->


<!-- Pagination -->
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>