<div class="grid-flex-wrapper text-center">
  <div class="card bg-gray">
    <span class="lnr lnr-pie-chart"></span>
    <h3>Creative strategy</h3>
    <p>Aligning marketing objectives with technical processes to achieve measurable results online.</p>
  </div><!--/.card-->
  <div class="card bg-gray">
    <span class="lnr lnr-code"></span>
    <h3>Digital production</h3>
    <p>Advising multimedia and digital development teams with strategic planning across client initiatives.</p>
  </div><!--/.card-->
  <div class="card bg-gray">
    <span class="lnr lnr-laptop-phone"></span>
    <h3>Web development</h3>
    <p>Creating a process and building the architecture from initial concept to functional product.</p>
  </div><!--/.card-->
</div><!--/.grid-flex-wrapper-->