<div class="grid-flex-wrapper text-center">
  <div class="card bg-accent">
    <span class="lnr lnr-pie-chart"></span>
    <h3>Creative strategy</h3>
    <p>Aligning marketing objectives with technical processes to achieve measurable results online.</p>
  </div><!--/.card-->
  <div class="card bg-accent">
    <span class="lnr lnr-code"></span>
    <h3>Website development</h3>
    <p>Building user-centric websites &amp; applications using a modern technology workflow.</p>
  </div><!--/.card-->
  <div class="card bg-accent">
    <span class="lnr lnr-laptop-phone"></span>
    <h3>Front-end development</h3>
    <p>Creating the process and defining the architecture from initial concept to a functional product.</p>
  </div><!--/.card-->
</div><!--/.grid-flex-wrapper-->