// SVG Animations

svg:not(:root) {
  overflow: visible; //needed for lock
}
.svg-wrap {
	width: 1em;
	height: 1em;
	font-size: 8em;
  @media (min-width: $bp-medium) {
    font-size: 12em;
  }
}
.web {color: $color-primary-dark;}
.browser {color: $color-primary;}
.gear {
	color: $color-primary-dark;
	transform-origin: 50% 50%;
  -webkit-transform-origin: 182px 155px;
	animation: spin 5s infinite linear;
}
.gear-mid {color: $color-primary;}

.terminal {
	color: $color-primary-dark;
}
.slash {
	color: $color-primary-dark;
	animation: pulse 0.7s infinite linear;
}

.lock {
	color: $color-primary;
}
.line-lg,
.line-sm {
	color: $color-primary-dark;
	stroke-linejoin: round;
	stroke-linecap: round;
	stroke-miterlimit: 10;
	stroke-dasharray: 500;
	stroke-dashoffset: 500;
}
.line-lg {
	animation: draw 2s infinite linear forwards,
		         fadeIn 2s infinite linear reverse;
}
.line-sm {
	animation: draw 2s 1s infinite linear forwards,
		         fadeIn 2s 1s infinite linear reverse;
}

@keyframes spin {
  to {transform: rotate(360deg);}
}

@keyframes pulse {
  0% {opacity: 0.75;}
  50% {opacity: 1;}
	100% {opacity: 0.75;}
}
@keyframes draw {
  100% {stroke-dashoffset: 0;}
}
@keyframes fadeIn {
	0% {opacity: 0;}
  100% {opacity: 1;}
}
