// Header
.header {
  position: absolute;
  flex: none;
  width: 100%;
  margin: 0;
  padding: calc-em(40px) 0;
  background: $color-primary;
  //border-bottom: 1px solid $border-light;
  z-index: 200;
  @media (min-width: $bp-medium) {
    padding: calc-em(60px) 0;
  }
}

.logo {
  float: left;
  span,
  a {
	color: $color-black;
  }
}