// Header
.header {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: calc-em(60px) 0;
  border-bottom: 2px solid $color-white;
  z-index: 200;
}

.logo {
  float: left;
  span {
	color: $color-white;
  }
}