// Layout
// Styles for managing the structural hierarchy of the site.

.wrap {
  position: relative;
  width: 100%;
}

.content {
  padding-top: calc-em(20px);
  padding-bottom: calc-em(20px);
  margin-bottom: calc-em(60px);
}

