// Layout
// Styles for managing the structural hierarchy of the site.

.wrap {
  position: relative;
  width: 100%;
}

.content {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

