// Home page
.home {
  .content-wrap {
	padding-top: 0;
  }
}

// Hero
.hero { 
  position: relative;
  width: 100%;
  height: calc-em(700px);
  min-height: calc-em(350px);
  margin: 0;
  padding: 0;
  background: $color-primary;
  /*&:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url('#');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
  }*/
  .hero-text {
    position: relative;
    padding-top: calc-em(250px);
    z-index: 1;
  }
  .hero-title {
	margin-bottom: 0;
  }
  .hero-tagline {
	padding-top: calc-em(30px);
  }
  .hero-title,
  .hero-tagline { 
    color: $color-black;
  }
}

// Intro 
.intro {}

// Recent projects
.projects {}

.split {
  @media (min-width: $bp-medium) {
    background: $color-gray-light;
  }
}
.split-wrap {
  padding: calc-em(5px) 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 80em;
  width: 100%;
  @media (min-width: $bp-medium) {
    padding: calc-em(60px) calc-em(30px);
    max-width: calc-em(575px);
  }

}
.project-img {
  position: relative;
  width: 100%;
  height: calc-em(400px);
  img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 100%;
    @media (min-width: $bp-medium) {
      height: calc-em(400px);
    }
    @media (max-width: $bp-small) {
      display: none;
    }
  }
}
// project img overlay
.project-img .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 178px;
  text-align: center;
  background: rgba($color-black, 0.2);
  color: $color-white;
  font-size: calc-em(22px);
  transition: 0.3s all ease-in-out;
}
.project-img span {
  display: none;
  font-size: calc-em(22px);
}
.project-img { 
  &:hover {
	.after {
	  background: rgba($color-primary, 0.95);
	}
	span {
	  display: block;
	}
  }
}

// Recent posts
.recent-posts {}

// Contact
.contact {}

