// About page
.about {
  //* {color: $color-white;}
}

.services {}

.card {
  padding: calc-em(40px) calc-em(20px);
  border: 2px solid $border-light;
  .lnr {
    display: inline-block;
	font-size: calc-em(80px);
	color: $color-primary;
  }
}

