// Posts and pages
// Each post is wrapped in `.post` and is used on default and post layouts. Each page is wrapped in `.page` and is only used on the page layout.

.page,
.post-entry {
  margin-bottom: calc-em(80px);
}

.post-item {
  padding: calc-em(30px) 0 calc-em(20px);
  border-bottom: 2px solid $border-light;
  &:last-child {border-bottom: none;}
}

/* Meta data line below post title */
.post-meta {
  display: block;
  margin-bottom: 1rem;
}
.post-time {
  display: block;
  color: $color-body;
}
.post-cat {
  display: none;
  width: 100%;
  color: $color-gray;
  padding-bottom: calc-em(25px);
  border-bottom: none;
  @media (min-width: $bp-medium) {
    display: block;
	width: 105%;//expand border into post-image
	border-bottom: 10px solid $color-primary;
  }
}
.post-icon {
  display: inline-block;
  margin: 0;
  border-radius: 50%;
  background: $color-primary;
  @media (max-width: $bp-medium) {display: none;}
  span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 150px;
    width: 150px;
    font-size: 50px;
    color: $color-gray-light;
  }
}
.post-image {
  position: relative;
  width: calc-em(170px);
  height: calc-em(170px);
  filter: grayscale(100%);
  img {border-radius: 50%;}
  @media (max-width: $bp-small) {display: none;}
}
.post-image .after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: $color-white;
  transition: 0.25s all ease-out;
}
.page-title,
.post-title {
  margin-top: 0;
  a {
	color: $color-black;
  }
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

