// Posts and pages
// Each post is wrapped in `.post` and is used on default and post layouts. Each page is wrapped in `.page` and is only used on the page layout.

.page,
.post {
  margin-bottom: calc-em(40px);
}

.post-item {
  margin-bottom: calc-em(20px);
  padding: calc-em(20px) 0 calc-em(10px);
  background: $color-gray-light;
  transition: all 0.2s ease-out;
  &:hover {
    background: darken($color-gray-light, 7%);
  }
}
/* Meta data line below post title */
.post-meta {
  display: block;
  margin-bottom: 1rem;
  color: #9a9a9a;
}
.post-time {
  display: block;
  color: $color-body;
}
.post-cat {
  display: block;
  width: 100%;
  color: $color-gray;
  padding-bottom: calc-em(25px);
  border-bottom: 10px solid $color-primary;
  @media (min-width: $bp-medium) {
	width: 105%;//expand border into post-image
  }
  &:nth-child(1) {border-color: $color-accent;}
  &:nth-child(2) {border-color: $color-primary;}
}
.post-image {
  border-radius: 50%;
}
.page-title,
.post-title {
  margin-top: 0;
  a {
	//color: $color-info;
  }
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

