---
layout: default
---

<section class="hero is-full-height text-center" style="background-color:#{{ page.bgcolor }};">
  <div class="hero-text" style="color:#{{ page.textcolor }};">
    <div class="container">
      <h1 class="hero-title">{{ page.title }}</h1>
    </div><!--/.container-->
    <div class="container sm">
      <p class="hero-tagline">{{ page.tagline }}</p>
    </div><!--/.container.sm-->
  </div><!--/.hero-text-->
  <div class="btn-scroll">
    <a href="#details"><span></span>Learn More</a>
  </div><!--/.btn-scroll-->
</section><!--/.hero-->

<div class="container pad" id="details">
  <div class="post-entry">
    <h2 class="section-title">Project Details</h2>
    <div class="project-meta">
      <div class="project-url">
        <blockquote style="border-color:#{{ page.bgcolor }};">
          <span class="lnr lnr-exit-up"></span>
          <a href="{{ page.link }}" class="h5" style="color:#{{ page.bgcolor }};" target="_blank">View website</a>
        </blockquote>
      </div><!--/.project-url-->
    </div><!--/.project-meta-->
    {{ content }}
  </div><!--/.post-entry-->
</div><!--/.container-->
