---
layout: default
---

<div class="container">
  <div class="post-entry">
    <h1 class="section-title">{{ page.title }}</h1>
    <div class="project-meta">
      <div class="project-url">
        <blockquote>
          <span class="lnr lnr-exit-up"></span>
          <a href="{{ project.link }}" class="h5" target="_blank">View website</a>
        </blockquote>
      </div><!--/.project-url-->
    </div><!--/.project-meta-->
    {{ content }}
  </div><!--/.post-entry-->
</div><!--/.container-->
